* {
    box-sizing: border-box;
}

@font-face {
    font-family: Poppins;
    src: url(Poppins-Medium.ttf);
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    margin: 0;
    background-color: black;
}

main {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

h1 {
    position: absolute;
    top: 10vh;
    font-size: 5rem;
    text-align: center;
}

.pelicula {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000006f;
    z-index: 2;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text {
    font-weight: bold;
    font-size: 14rem;
    line-height: 1;
    margin: 0 2rem 1rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.5rem;
}

.bg1 {
    background-image: url("1.jpg");
}

.bg2 {
    background-image: url("2.jpg");
}

.bg3 {
    background-image: url("3.jpg");
}

.bg4 {
    background-image: url("4.jpg");
}

.bg5 {
    background-image: url("5.jpg");
}

.bg6 {
    background-image: url("6.jpg");
}

.bg7 {
    background-image: url("7.jpg");
}

.bg8 {
    background-image: url("8.jpg");
}

.bg9 {
    background-image: url("9.jpg");
}

.bg10 {
    background-image: url("10.jpg");
}

.bg11 {
    background-image: url("11.jpg");
}

.bg12 {
    background-image: url("12.jpg");
}

.bg13 {
    background-image: url("13.jpg");
}

.bg14 {
    background-image: url("14.jpg");
}

.bg15 {
    background-image: url("15.jpg");
}

.bg16 {
    background-image: url("16.jpg");
}

.bg17 {
    background-image: url("17.jpg");
}

.bg18 {
    background-image: url("18.jpg");
}

.bg19 {
    background-image: url("19.jpg");
}

.bg20 {
    background-image: url("20.jpg");
}

.bg21 {
    background-image: url("21.jpg");
}

.bg22 {
    background-image: url("22.jpg");
}

.bg23 {
    background-image: url("23.jpg");
}

.bg24 {
    background-image: url("24.jpg");
}

.bg25 {
    background-image: url("25.jpg");
}

.bg26 {
    background-image: url("26.jpg");
}

.bg27 {
    background-image: url("27.jpg");
}

.bg28 {
    background-image: url("28.jpg");
}

.bg29 {
    background-image: url("29.jpg");
}

.bg30 {
    background-image: url("30.jpg");
}

.bg31 {
    background-image: url("31.jpg");
}